{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="lb-header">
      <a href="/accounts/login/"  id="login-box-link">Login</a>
      <a href="/accounts/signup/" class="active" id="signup-box-link">Sign Up</a> 
    </div>

    <!--
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
-->
<div class="u-form-group">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="u-form-group">
  {{ form.as_p }}
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  </div>

   <div class="u-form-group">
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

{% endblock %}
